<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tour_leave.mapper.ProductMapper">


	<select id="selectProductSeqList" resultType="java.lang.Integer">
		SELECT tlp_seq FROM tl_products ORDER BY tlp_seq LIMIT #{limit};
	</select>
	
	<select id="selectProduct" resultType="com.tour_leave.vo.SimpleProductVO">				
 		SELECT * FROM 
		 	(
				SELECT * FROM tl_products a
					INNER JOIN 
					(
						SELECT MAX(tlpi_seq) AS tlpi_seq, tlpi_uri, tlpi_product_seq
						FROM tl_products_image 
						WHERE tlpi_product_seq=#{seq}
					) b
					ON a.tlp_seq = b.tlpi_product_seq
			) c
			INNER JOIN  tl_country d
		ON  c.tlp_country_seq = d.tlc_seq
	</select>



	<select id="selectBestSeqlist" resultType="java.lang.Integer">
		SELECT tlb_prod_seq FROM tl_best_products
		ORDER BY tlb_seq DESC
	</select>


	<select id="selectProductBySeq" resultType="com.tour_leave.vo.ProductVO" >
	
		SELECT * FROM 
		 	(
				SELECT * FROM tl_products a
					INNER JOIN 
					(
						SELECT MAX(tlpi_seq) AS tlpi_seq, tlpi_uri, tlpi_product_seq
						FROM tl_products_image 
						WHERE tlpi_product_seq=#{seq}
					) b
					ON a.tlp_seq = b.tlpi_product_seq
			) c
			INNER JOIN  tl_country d
		ON  c.tlp_country_seq = d.tlc_seq
		
		
	</select>
	
	<select id="selectMDSeqlist" resultType="java.lang.Integer">
		SELECT tlm_prod_seq FROM tl_md_products
		ORDER BY tlm_seq DESC
	</select>
	
	<select id="selectSpecialSeqlist" resultType="java.lang.Integer">
		SELECT tls_prod_seq FROM tl_special_products
		ORDER BY tls_seq DESC
	</select>
	

	

</mapper>